{% extends 'JKA:Entries:list.html.twig' %}
 
{% block intro%}
	<h3><span>Noticias AES</span></h3>
	<p>En esta secci&oacute;n encontrar&aacute;s las novedades respecto a cursos, torneos, ex&aacute;menes y toda la informaci&oacute;n oficial de nuestra organizaci&oacute;n </p>
{% endblock %}