@font-face {
	font-family: 'rationale_oneregular';
	src: url('../fonts/rationale/rationale-regular-webfont.eot');
	src: url('../fonts/rationale/rationale-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/rationale/rationale-regular-webfont.woff')
		format('woff'),
		url('../fonts/rationale/rationale-regular-webfont.ttf')
		format('truetype'),
		url('../fonts/rationale/rationale-regular-webfont.svg#rationale_oneregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: arial, sans-serif;
}

a {
	text-decoration: none;
	color: #990000;;
	font-weight: bold;
}

a:hover {
	color: black;
}

div.separator-line {
	border: none;
	height: 4px;
	width: 100%;
	margin: auto auto 40px;
	background: url(../images/separator.png) repeat;
	-webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 0px 30px rgba(50, 50, 50, 1);
	box-shadow: 0px 0px 30px rgba(50, 50, 50, 1);
}

.introline {
	margin: 20px 0;
	
}

.intro-text { /*	float: left;*/
	width: auto;
}

.intro-text h3 {
	font-family: rationale_oneregular;
	font-size: 26px;
	text-align: center;
	color: #6b6b6b;
	text-shadow: 4px 4px 10px rgba(150, 150, 150, 1);
	margin-bottom: 0;
}

.intro-text h3 span {
	font-family: rationale_oneregular;
	color: #cc0000;
}


.intro-text p {
	font-family: rationale_oneregular;
	font-size: 20px;
	text-align: justify;
	color: #6b6b6b;
	padding-top: 10px;
	margin-bottom: 0;
}

div.line {
	border-top: solid;
	border-width: 1px;
	border-color: #cccccc;
	clear: both;
	display: block;
	margin: auto;
	width: 90%;
}

#header {
	background: transparent url(../images/new_logo.png) no-repeat;
	height: 130px;
	width: 100%;
	float: left;
	clear: left;
	margin: 5px 0 10px 20px;
}

#pageWrap {
	/*	background: transparent url(../images/back.png) repeat-y;*/
	-webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 0px 30px rgba(50, 50, 50, 1);
	box-shadow: 0px 0px 30px rgba(50, 50, 50, 1);
	background-color: #FAF8F5;
	margin: auto;
	overflow: visible;
	width: 85%;
}

#pageBody {
	padding: 0 0 20px;
	margin: 110px auto;
	width: 100%;
}

div#mainMenu {
	margin: 20px auto;
	width: 80%;
}

div.hoverBtn {
	position: relative;
	float: left;
	background: black url(../images/nav.png) repeat-x 0 0 scroll;
}

div.hoverBtn a {
	position: relative;
	z-index: 2;
	display: block;
	width: 136px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.1em;
	text-decoration: none;
	color: #000;
	background: transparent none repeat-x 0 0 scroll;
}

div.hoverBtn div {
	display: none;
	position: absolute;
	z-index: 1;
	top: 0px;
	background: white url(../images/navHover.png) repeat-x 0 0 scroll;
}

div#mainContent {
	border-style: none;
	border-color: #cccccc;
	border-width: 1px;
	margin: auto;
	width: 90%;
	height: 800px;
	padding-top: 15px;
	/* 	-moz-border-radius: 15px; */ /* 	-ms-border-radius: 15px; */
	/* 	-webkit-border-radius: 15px; */
	/* 	-moz-box-shadow: 0 0 20px black; */
	/* 	-ms-box-shadow: 0 0 20px black; */
	/* 	-webkit-box-shadow: 0 0 20px black; */
}

div.section-header {
	height: 200px;
	width: 820;
	margin: 0 0 10px 0;
	margin-top: 15px;
	box-shadow: 0 0 20px black;
	-ms-border-radius: 18px;
	-webkit-box-shadow: 0 0 20px black;
	-webkit-border-radius: 18px;
	-moz-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	border-radius: 18px;
}

div.imgWithText {
	border: 1px solid #CCCCCC;
	float: left;
	margin: 15px;
	padding: 12px;
}

div.text h2 {
	font-family: rationale_oneregular;
	font-size: 24px;
	text-shadow: 4px 4px 10px rgba(150, 150, 150, 1);
	color: #cc0000;
	padding-bottom: 10px;
	display: block;
	margin: 15px;
	font-weight: bold;
	border-bottom: 1px solid #B8B8B8;
}

div.text {
	font-family: Yanone, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #3D3D3D;
	height: 100%;
	background: url(../images/home/tiger.jpg) no-repeat center;
}

div.text span {
	color: #990000;
	width: 750px;
	padding-bottom: 10px;
	display: block;
	margin: 15px;
	font-weight: bold;
	font-size: 15px;
	border-bottom: 1px solid #B8B8B8;
}

div#footer {
	vertical-align: middle;
	height: 140px;
	padding-right: 10px;
	margin: 15px 0 0 0;
}

div#footer span {
	color: #666666;
	font-size: 10px;
	font-style: oblique;
}

div#footer div.link-to-pages {
	display: inline;
	float:left;
}

div#footer div.link-to-pages a {
	border: none;
	color: white;
}

div#footer div.link-to-pages img {
	
}

div#footer img {
	margin: 0 0 0 70px;
	vertical-align: middle;
}

div.text p {
	padding-top: 10px;
	text-align: justify;
	margin: 20px 0;
	line-height: 110%;
}

.clear {
	clear: both;
}

html,body {
	height: 100%;
	margin: 0px;
}

.clearfix {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	border-bottom: black 1px solid;
	clear: both;
	height: 0;
}

#container {
	margin: 3% auto;
	width: 90%;
}

ul,li {
	margin: 0;
	padding: 0;
}

#blob {
	background: #0b2b61;
	border-right: 1px solid #0059ec;
	border-left: 1px solid #0059ec;
	position: absolute;
	z-index: 1;
	top: 0;
	background: -moz-linear-gradient(top, #3D3D3D, #CC0000);
	background: -webkit-gradient(linear, left top, left bottom, from(#3D3D3D),
		to(#CC0000) );
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 2px 3px 10px #011331;
	-webkit-box-shadow: 2px 3px 10px #011331;
}

#nav {
	position: relative;
	background: #292929;
	float: left;
}

#nav li {
	float: left;
	list-style: none;
	border-right: 1px solid #4a4a4a;
	border-left: 1px solid black;
}

#nav li a {
	color: #e3e3e3;
	outline: 0;
	z-index: 3;
	position: relative;
	cursor: pointer;
	float: left;
	font-size: 14px;
	font-family: helvetica, arial, sans-serif;
	text-decoration: none;
	padding: 20px 18px;
	width: 100%;
	border: none;
	font-weight: normal;
}

#nav li a:HOVER {
	font-weight: normal;
}

#nav li a:active {
	border: 0px;
}

#new-form {
	position: absolute;
	top: 50%;
	padding: 20px;
	background: white;
	border: solid 1px black;
	width: auto;
	margin: auto;
	height: auto;
	z-index: 999;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-box-shadow: 0 0 20px black;
	-ms-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
}

#new-form input[type=text] {
	width: 228px;
}

#new-form form p.success {
	background-color: #FFF4C2;
	border-bottom: 1px solid #FFCC34;
	border-top: 1px solid #FFCC34;
	font: 14px Arial;
	margin-top: -1px;
	padding: 10px;
}

#new-form dl dd.tiny-content {
	width: 800px;
}

div#popup-overlay {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
	opacity: 1;
}

a.adminLink {
	color: black;
	font-weight: bold;
	text-decoration: none;
	background-color: #BFBFBF;
	padding: 4px;
	border: 1px solid #828282;
}

a.adminLink:hover {
	color: white;
	font-weight: bolder;
}

div.paginator {
	margin-left: 10px;
	position: relative;
	top: 10px;
	bottom: 0;
}

div.paginator a {
	outline: 0;
}

div.paginator-number {
	padding: 5px 5px 5px 5px;
	float: left;
	width: 10px;
	margin-left: 3px;
	margin-top: 5px;
	font-size: 14px
}

div.paginator-number a {
	color: #990000;
	text-decoration: none;
}

div.paginator-number a:HOVER {
	color: black;
	text-shadow: red;
}

/*Form errors*/
div#new-form form dl dt {
	float: left;
	width: 160px;
	padding: 5px 0;
	line-height: 22px;
	position: relative;
}

div#new-form form dl.details {
	
}

div#new-form form dl.details dd p {
	display: inline;
	padding: 5px;
	border: 1px dashed #DDD;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #FAFAFA;
	font-size: 13px;
	font-weight: bold;
	color: #555;
}

div#new-form form dl dt span.required {
	color: #DD0000;
	font: 20px/12px Arial, sans-serif;
	position: absolute;
	right: 11px;
	top: 14px;
}

div#new-form form dl dt label {
	font-weight: bold;
	color: #666;
}

div#new-form form dl dt label.error {
	color: #DD0000;
}

div#new-form form dl dd {
	min-height: 22px;
	line-height: 22px;
	padding: 5px 10px;
	padding-left: 100px;
}

div#new-form form dl dd.only {
	padding: 0;
	border-bottom: 1px solid #DDD;
	margin: -10px 0 20px;
}

div#new-form form dl dd.only p {
	font: bold 12px Arial, sans-serif;
	padding: 5px 5px 5px 0;
	background-color: #FFF;
	display: inline-block;
	position: relative;
	top: 12px;
	color: #F60;
}

div#new-form form dl dd input,div#new-form form dl dd select,div#new-form form dl dd textarea
	{
	padding: 3px;
}

div#new-form form dl dd input.text,div#new-form form dl dd select,div#new-form form dl dd textarea
	{
	border: 1px solid #E4E4E4;
	border-top: 1px solid #D4D4D4;
	border-left: 1px solid #D4D4D4;
	background-color: #FDFDFD;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

div#new-form form dl dd input.text:focus,div#new-form form dl dd select:focus,div#new-form form dl dd textarea:focus
	{
	border: 1px solid #DDD;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

div#new-form form dl dd select {
	padding: 3px 1px;
	width: 240px;
}

div#new-form form dl dd select option {
	padding: 0 2px;
}

div#new-form form dl dd textarea {
	width: 350px;
	height: 50px;
	font: 12px Arial, sans-serif;
	resize: none;
}

div#new-form form dl dd input.medium {
	width: 200px;
}

div#new-form form dl dd select.medium {
	width: 210px;
}

div#new-form form dl dd input.small {
	width: 50px;
}

div#new-form form dl dd input.large {
	width: 350px;
}

div#new-form form dl {
	width: 450px;
}

div#new-form form dl dd input.error {
	background-color: #FEF6F8;
	border: 1px solid #E897AF;
	border-right: 1px solid #F6D5DE;
	border-bottom: 1px solid #F6D5DE;
}

div#new-form form dl dd p.note {
	color: #888;
	font-size: 12px;
	line-height: 0px;
	font-style: italic;
	margin-left: 20px;
}

div#new-form form dl dd p.note.error {
	color: #DD0000;
	font-style: normal;
}

a.back-button p {
	float: left;
	margin: 0;
}

a.back-button img {
	float: left;
	position: relative;
	bottom: 15px;
}

a.close-button {
	outline: 0;
}