div#section-dojos {
	background: white url(/images/dojos-banner.png) repeat-x 0 0 scroll;
}

div.list-dojo-header {
	padding: 3px;
	margin: 10px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
}

div.list-dojo-header h2 {
	border-bottom: 1px solid;
	color: #4E4E4E;
	font: bold 24px Georgia, "Times New Roman", Times, serif;
	letter-spacing: -1px;
	padding-bottom: 5px;
}

div.list-dojo {
	color: #666666;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 10px 10px 0;
	padding: 1px;
}

div.list-dojo td {
	font-size: 11px;
	padding: 2px;
}

div.list-dojo td.dojo-field {
	color: black;
	width: 35%;
}

div.list-dojo tr.dojo-footer {
	color: red;
	height: 100px;
}

div.list-dojo tr.dojo-footer a {
	color: red;
}

/* div.list-dojo a { */ /* 	color: #4E4E4E; */
	/* 	text-decoration: none; */ /* } */ /* div.list-dojo a:HOVER { */
	/* 	font-weight: bolder; */ /* } */
.dojo-row-even {
	background-color: #D4D4D4;
	color: black;
	font: 12px Georgia, "Times New Roman", Times, serif;
}

.dojo-row-odd {
	background-color: #E0E0E0;
	color: black;
	font: 12px Georgia, "Times New Roman", Times, serif;
}

div.dojo-detail {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
	padding: 10px;
}

div.dojo-detail dt dl {
	font-family: Arial, Helvetica, sans-serif;
}

div.dojo-detail dt {
	background-color: #D4D4D4;
	font-weight: bold;
	font-size: 14px;
}

div.dojo-detail dd span {
	font-size: 12px;
	margin-top: 3px;
}

div.dojo-detail span {
	padding: 5px;
}

div#dojos-header {
	border-bottom: 1px solid #660000;
	color: #660000;
	height: 35px;
	margin: 15px 10px;
	overflow: hidden;
	padding: 12px 15px 0;
	white-space: nowrap;
	font-weight: bold;
}

div#dojo-row img {
	float: right;
	border: none;
	height: 50px;
}

div#dojo-row span.dojo-header {
	float: left;
	font-size: 15px;
	font-weight: bold;
	width: 130px;
	padding: 4px;
}

div#dojo-row {
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #595959 #595959 #595959 -moz-use-text-color;
	border-style: solid;
	border-width: 1px 1px 1px 10px;
	float: left;
	height: 210px;
	margin: 0 10px 15px;
	padding: 2px 2px 25px 5px;
	position: relative;
	width: 221px;
}

}
div#dojo-row p {
	padding: 20px 0 0;
	font-size: 14px;
	color: #595959;
}

div#dojo-row h3 {
	border: 1px solid #636363;
	font-size: 18px;
	font-weight: normal;
	padding: 5px;
	margin: 10px;
	background-color: #CCCCCC;
}

div#dojo-row dl dt label {
	color: black;
	font-size: 12px;
}

div#dojo-row dl dt {
	float: left;
	width: 150px;
	padding: 5px 0;
	line-height: 12px;
	position: relative;
}

div#dojo-row dl dd { /* 	min-height: 22px; */
	line-height: 12px;
	/* 	padding: 5px 10px; */ /* 	padding-left: 130px; */
	font-size: 12px;
}

div#dojo-row a.dojo-map {
	bottom: -110px;
	left: -120px;
	position: relative;
}

div.dojo-data {
	float: right;
	width: 100%;
	position: relative;
}

div.dojo-popup {
	position: absolute;
	top: 50%;
	left: 30%;
	padding: 10px;
	background: white;
	border: solid 2px black;
	width: auto;
	margin: auto;
	height: auto;
	z-index: 999;
	-moz-box-shadow: 0 0 20px black;
	-ms-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
}

div#map-container {
	border: solid 1px #C9C9C9;
	width: 57%;
	right: 0;
	float: left;
	margin-bottom: 10px;
}

div#map-container div#map {
	padding: 10px;
	height: 750px;
}

div#dojos-header form select {
	padding: 3px;
	border: 1px solid #E4E4E4;
	border-top: 1px solid #D4D4D4;
	border-left: 1px solid #D4D4D4;
	background-color: #FDFDFD;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

div#dojos-header form select:focus {
	border: 1px solid #DDD;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

div#add-dojo {
	height: 200px;
}

div#add-dojo a#new-dojo {
	bottom: -134px;
	font-size: 36px;
	font-weight: bold;
	left: 509px;
	position: relative;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	outline: none;
}

div#add-dojo a#new-dojo:HOVER {
	color: #E4E495;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

img.captcha {
	padding: 10px;
	margin: 10px 10px 0 10px;
}

div#add-dojo-banner {
	border: 1px outset #660000;
	color: #666666;
	display: block;
	font-size: 14px;
	margin: auto;
	padding: 10px 10px 10px 260px;
	width: auto;
	background: #fefcea; /* Old browsers */
	background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefcea),
		color-stop(100%, #f1da36) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%);
	/* W3C */
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#fefcea', endColorstr = '#f1da36', GradientType = 0 ); /* IE6-9 */
}

}
div#add-dojo-banner a {
	outline: none;
	font-size: 18px;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

div#add-dojo-banner a:HOVER {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div#new-dojo-form {
	background: none repeat scroll 0 0 white;
	/*   border-bottom: 1px solid #D1D1D1; */
	height: auto;
	margin: auto;
	padding: 20px;
	width: 780px;
	z-index: 999;
}

div#new-dojo-form form dl {
	width: 450px;
}

div#new-dojo-form form dl dt {
	float: left;
	line-height: 22px;
	padding: 5px 0;
	position: relative;
	width: 160px;
}

div#new-dojo-form form dl dd {
	line-height: 22px;
	min-height: 22px;
	padding: 5px 10px 5px 100px;
}

#new-dojo-form input[type="text"] {
	width: 228px;
}

div#new-dojo-form form dl dd p.note {
	color: #888888;
	font-size: 12px;
	font-style: italic;
	line-height: 0;
	margin-left: 20px;
}

div#new-dojo-form form dl dt label {
	color: #666666;
	font-weight: bold;
}

div#new-dojo-form form dl dd input,div#new-dojo-form form dl dd select,div#new-dojo-form form dl dd textarea
	{
	padding: 3px;
}

div#new-dojo-form form dl dt span.required {
	color: #DD0000;
	font: 20px/12px Arial, sans-serif;
	position: absolute;
	right: 11px;
	top: 14px;
}

div#new-dojo-form form dl dt label.error {
	color: #DD0000;
}

div#new-dojo-form form dl dd input.error {
	background-color: #FEF6F8;
	border: 1px solid #E897AF;
	border-right: 1px solid #F6D5DE;
	border-bottom: 1px solid #F6D5DE;
}

div#new-dojo-form form dl dd p.note.error {
	color: #DD0000;
	font-style: normal;
}

h2 {
	border-bottom: 1px solid #D1D1D1;
	color: #990000;
	padding-bottom: 10px;
	padding-left: 5px;
	text-shadow: 0 2px #D1D1D1;
}