div#section-albums {
	background: white url(/images/fotos-banner.png) repeat-x 0 0 scroll;
}

div.album-title {
	font-family: Verdana;
	display: inline;
}

div#toolbar h2 {
	border-bottom: 1px solid;
	color: #4E4E4E;
	font: bold 24px Georgia, "Times New Roman", Times, serif;
	letter-spacing: -1px;
	padding-bottom: 5px;
}

div.image-container {
	padding-top:10px;
	margin: 30px auto;
	width: 700px;
	border: 1px solid #CCCCCC;
}

div.image-container img{
	border: none;
}

div.image-container img{
	-moz-border-radius: 5px 5px 5px 5px;
    border: 2px solid #000000;
    line-height: 0;
}



div.album-list .album-cover {
	margin: 30px;
	-moz-border-radius: 15px 15px 15px 15px;
	-moz-box-shadow: 0 0 15px grey;
	border: 1px solid #CCCCCC;
	padding: 5px;
	height: 150px;
	width: 200px;
	float: left;
	text-align: center;
}

div.album-list p {
	top: 50px;
}


div.empty-album h2 {
	text-align: center;
	color: #4E4E4E;
	font: bold 24px Georgia, "Times New Roman", Times, serif;
	letter-spacing: -1px;
	padding-bottom: 5px;
}

ul.gallery {
	width: 708px; /*--Adjust width according to your scenario--*/
	list-style: none;
	margin: 0; padding: 0;
}

ul.gallery img{
	border: none 0px;
}

ul.gallery li a{
	outline:0;
}
ul.gallery li {
	float: left;
	margin-left: 10px; 
	padding: 0;
	text-align: center;
	-moz-border-radius: 3px; /*--CSS3 Rounded Corners--*/
	-khtml-border-radius: 3px; /*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 3px; /*--CSS3 Rounded Corners--*/
	display: inline; /*--Gimp Fix aka IE6 Fix - Fixes double margin bug--*/
}
ul.gallery li a.thumb {
	width: 204px; /*--Width of image--*/
	height: 182px; /*--Height of image--*/
	padding: 5px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
ul.gallery li span { /*--Used to crop image--*/
	width: 80px;
	height: 70px;
	overflow: hidden;
	display: block;
}
ul.gallery li a.thumb:hover {
	background: #333; /*--Hover effect for browser with js turned off--*/
}
ul.gallery li h2 {
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0; padding: 10px;
	background: #f0f0f0;
	border-top: 1px solid #fff; /*--Subtle bevel effect--*/
}
ul.gallery li a {text-decoration: none; color: #777; display: block;}

div.gallery-header{
  border-bottom: 1px solid #660000;
  color: #660000;
  font-weight: bold;
  height: 35px;
  margin: 15px 10px;
  overflow: hidden;
  padding: 12px 15px 0;
  white-space: nowrap;
}


div.album-list div.album-cover a{
	margin: 0 10px;
}

img.captcha{
	padding: 10px;
	margin: 10px 10px 0 10px;
}